body{
    background: whitesmoke;
    font-family: arial, sans-serif;
}

.container{
    width:800px;
    margin:auto;
    background:white;
    border:2px solid #ccc;
}

.header{
    background:red;
    color:white;
    padding:15px;
    text-align:center;
    font-family:verdana, sans-serif;
}

.menu{
    background:greenyellow;
    padding:10px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

.menu a{
    color:black;
    text-decoration:none;
    margin-right:20px;
    font-weight:bold;
}

.menu a:hover{
    color:red;
    text-decoration:underline;
}

.banner img{
    width:100%;
    height:250px;
    border-radius:10px;
}

.kiri{
    width:20%;
    float:left;
    padding:10px;
    box-sizing:border-box;
}

.tengah{
    width:50%;
    float:left;
    padding:10px;
    box-sizing:border-box;
}

.kanan{
    width:30%;
    float:left;
    padding:10px;
    box-sizing:border-box;
}

h3{
    color:red;
    font-family:verdana, sans-serif;
}

table{
    width:100%;
    border-collapse:collapse;
}

table, th, td{
    border:1px solid black;
}

th{
    background:greenyellow;
}

th, td{
    padding:8px;
    text-align:center;
}

input,
select{
    width:100%;
    padding:8px;
    border:1px solid gray;
    border-radius:5px;
    font-family:arial;
}

button{
    background:greenyellow;
    color:black;
    border:1px solid green;
    padding:8px 15px;
    border-radius:5px;
    font-family:arial;
    cursor:pointer;
}

button:hover{
    background:green;
    color:white;
}

.footer{
    clear:both;
    background:red;
    color:white;
    text-align:center;
    padding:15px;
    font-family:verdana, sans-serif;
}